.circle {
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

.nav {
  margin-top: 50px;
}

h4 {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

.fa-check {
  color: green;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.row {
  margin-bottom: 20px;
}
